@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test site for DevOps Project.</p>
</div>
<div class="text-center">
    <img src="~/images/MemeDevops.jpg" alt="Nice Joke ?" class="centered-image">
</div>

